/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

h1{
  font-size: 6rem;
}

.navbar-container{
  display: flex;
  height: 100px;
  justify-content: space-between;  
  align-items: center;
}

.img-logo{
  width: 200px;
}

.menu-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  padding: 10px;
}

li{
  list-style: none;
}



.hero-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/landing.jpg);
  background-size: cover; 
  background-position: center;
  height: 700px;
  color: white;
  font-size: 2rem;
  text-align: center;
}

